<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.exacttarget.hybridPlugin"
    version="0.1.0">
    <name>ETPush</name>
    <description>Cordova ET SDK extension Plugin</description>
    <license>Apache 2.0</license>
    <author>Jesse Boles</author>
    <keywords>cordova,device</keywords>
    <repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git</repo>
    <issue>https://issues.apache.org/jira/browse/CB/component/12320648</issue>

    <js-module src="www/push.js" name="push">
        <clobbers target="push" />
    </js-module>


    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ETPush" >
                <param name="android-package" value="com.exacttarget.hybridPlugin.SdkWrapper"/>
            </feature>
        </config-file>

        <source-file src="src/android/SdkWrapper.java" target-dir="src/com/exacttarget/hybridPlugin" />
    </platform>
    

</plugin>
