<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.exacttarget.etpushsdk"
    version="0.1.0">
    <name>ETPush</name>
    <description>ET SDK Cordova Plugin</description>
    <license>Apache 2.0</license>
    <author>Salesforce Marketing Cloud</author>
    <keywords>cordova,Salesforce Marketing Cloud, push, marketing cloud, exacttarget</keywords>

    <js-module src="www/push.js" name="ETPush">
        <clobbers target="ETPush" />
    </js-module>

    <preference name="DEVAPPID" />
    <preference name="DEVACCESSTOKEN" />
    <preference name="PRODAPPID" />
    <preference name="PRODACCESSTOKEN" />
    <preference name="USEGEO" />
    <preference name="USEANALYTICS" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExactTarget" >
                <param name="android-package" value="com.atsistemas.exacttarget.ExactTarget"/>
            </feature>
        </config-file>
        <source-file src="src/android/ExactTarget.java" target-dir="src/com/atsistemas/exacttarget" />
        <source-file src="src/android/build-extras.gradle" target-dir="."/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="ETAppSettings">
                <dict>
                    <key>ApplicationID-Dev</key>
                    <string>$DEVAPPID</string>
                    <key>AccessToken-Dev</key>
                    <string>$DEVACCESSTOKEN</string>
                    <key>ApplicationID-Prod</key>
                    <string>$PRODAPPID</string>
                    <key>AccessToken-Prod</key>
                    <string>$PRODACCESSTOKEN</string>
                    <key>UseGeofences</key>
                    <string>$USEGEO</string>
                    <key>UseAnalytics</key>
                    <string>$USEANALYTICS</string>
                </dict>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="ETPush">
                <param name="ios-package" value="ETSdkWrapper"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ETSdkWrapper.h" />
        <source-file src="src/ios/ETSdkWrapper.m" />
        <source-file src="src/ios/etpushsdk/libetpushsdk-3.3.0.a" framework="true" />
        <header-file src="src/ios/etpushsdk/ETBulkUpdateShim.h" />
        <header-file src="src/ios/etpushsdk/ETEvent.h" />
        <header-file src="src/ios/etpushsdk/ETFenceMessage.h" />
        <header-file src="src/ios/etpushsdk/ETGenericUpdate.h" />
        <header-file src="src/ios/etpushsdk/ETKeyValueStore.h" />
        <header-file src="src/ios/etpushsdk/ETLandingPagePresenter.h" />
        <header-file src="src/ios/etpushsdk/ETLocationManager.h" />
        <header-file src="src/ios/etpushsdk/ETLocationUpdate.h" />
        <header-file src="src/ios/etpushsdk/ETMessage.h" />
        <header-file src="src/ios/etpushsdk/ETPhoneHome.h" />
        <header-file src="src/ios/etpushsdk/ETPush.h" />
        <header-file src="src/ios/etpushsdk/ETRegion.h" />
        <header-file src="src/ios/etpushsdk/ETRegistration.h" />
        <header-file src="src/ios/etpushsdk/ETSqliteHelper.h" />
        <header-file src="src/ios/etpushsdk/ETStatsUpdate.h" />
        <header-file src="src/ios/etpushsdk/ETTestsHelper.h" />
        <header-file src="src/ios/etpushsdk/ETURLConnection.h" />
        <header-file src="src/ios/etpushsdk/ExactTargetEnhancedPushDataSource.h" />
        <header-file src="src/ios/etpushsdk/PushConstants.h" />
        <framework src="libsqlite3.dylib" />
        <framework src="CoreLocation.framework/" />

        <header-file src="src/ios/AppDelegate+JB4A.h" />
        <source-file src="src/ios/AppDelegate+JB4A.m" />

    </platform>


</plugin>
